<template>
  <div>
    <Hero
      :title="webTitle"
      :description="profile.biography"
      :picture-url="profile.profile_picture_url"
      :ig-link="instagramProfileUrl"
    />
    <MediaList :medias="mediaList" />
  </div>
</template>

<script setup lang="ts">
const { getProfileInfo, getMediasDetail } = useIgApi()

const profile = await getProfileInfo()
if (!profile) {
  throw createError(
    new Error('Something went wrong. Please contact web administrator.')
  )
}
const webTitle = ref(`Hi! I'm ${profile.value.username}`)
const instagramProfileUrl = ref(
  `https://instagram.com/${profile.value.username}`
)

const mediaIds = profile.value.media.data.map((item: any) => item.id)
const medias = await getMediasDetail(mediaIds)

const mediaList = medias
  .filter((media: any) => media.media_type !== 'VIDEO')
  .map((media: any) => {
    return {
      id: media.id,
      caption: media.caption,
      url: media.media_url,
      permaLink: media.permalink,
    }
  })
</script>
