<template>
  <header class="px-4 lg:px-0">
    <div class="mx-auto w-full max-w-7xl pt-16 pb-20 lg:py-48 lg:text-left">
      <div
        class="flex flex-col lg:flex-row-reverse w-full justify-center items-center lg:items-start gap-8 lg:gap-20"
      >
        <div class="rounded-full w-40 h-40 border-2 border-white shadow-lg">
          <img
            :src="pictureUrl"
            class="w-full h-full rounded-full object-cover"
          />
        </div>
        <div class="text-center lg:text-left">
          <h1
            class="text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl md:text-6xl lg:text-5xl xl:text-6xl"
          >
            {{ title }}
          </h1>
          <p
            class="mx-auto mt-3 max-w-md text-lg text-gray-500 sm:text-xl md:mt-5 md:max-w-3xl"
          >
            {{ description }}
          </p>
          <div class="mt-10 sm:flex sm:justify-center lg:justify-start">
            <div>
              <a :href="igLink" class="group">
                <IconInstagram
                  class="w-8 h-8 group-hover:scale-105 transition-all duration-150 ease-linear"
                />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
</template>

<script setup lang="ts">
interface Props {
  title: string
  description: string
  pictureUrl: string
  igLink: string
}

defineProps<Props>()
</script>
