<template>
  <div class="max-w-5xl mx-auto">
    <div class="grid grid-cols-3 gap-8 p-8">
      <a
        v-for="media in medias"
        :href="media.permaLink"
        class="group shadow-md rounded-md hover:scale-105 transition-all duration-150 ease-linear relative"
        :key="media.id"
      >
        <Transition
          enter-active-class="duration-300 ease-out"
          enter-from-class="transform opacity-0"
          enter-to-class="opacity-100"
          leave-active-class="duration-200 ease-in"
          leave-from-class="opacity-100"
          leave-to-class="transform opacity-0"
        >
          <div
            class="absolute rounded-md hidden inset-0 text-black group-hover:flex bg-gray-300 bg-opacity-50 items-center justify-center"
          >
            {{ media.caption }}
          </div>
        </Transition>

        <img
          :src="media.url"
          :alt="media.caption"
          class="w-full h-full object-cover rounded-md"
        />
      </a>
    </div>
  </div>
</template>

<script lang="ts" setup>
interface Props {
  medias: {
    id: string
    caption: string
    url: string
    permaLink: string
  }[]
}

defineProps<Props>()
</script>
