<template>
  <svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M17.7324 2.79358H7.73236C4.97094 2.79358 2.73236 5.03216 2.73236 7.79358V17.7936C2.73236 20.555 4.97094 22.7936 7.73236 22.7936H17.7324C20.4938 22.7936 22.7324 20.555 22.7324 17.7936V7.79358C22.7324 5.03216 20.4938 2.79358 17.7324 2.79358Z"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
    <path
      d="M16.7324 12.1636C16.8558 12.9958 16.7136 13.8458 16.3261 14.5926C15.9386 15.3394 15.3255 15.945 14.574 16.3232C13.8225 16.7015 12.9708 16.8332 12.1402 16.6995C11.3095 16.5658 10.5421 16.1737 9.94721 15.5787C9.35229 14.9838 8.96011 14.2164 8.82644 13.3858C8.69278 12.5551 8.82444 11.7035 9.2027 10.9519C9.58096 10.2004 10.1866 9.58732 10.9334 9.19982C11.6802 8.81232 12.5301 8.67016 13.3624 8.79358C14.2113 8.91946 14.9972 9.31504 15.6041 9.92188C16.2109 10.5287 16.6065 11.3147 16.7324 12.1636Z"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
    <path
      d="M18.2324 7.29358H18.2424"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
  </svg>
</template>
